.review-heading{
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    font-weight: 600;
}
.review{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-gap: 1.5rem;
   
}
.reviews{
    display: flex;
        align-items: center;
    flex-direction: column;
}
@media only screen and (max-width: 700px){
    .review-heading{
        text-align: center;
        margin-top: 80px;
        font-size: 50px;
        font-weight: 600;
    }
    .review{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        grid-gap: 1.5rem;
       
    }
    .reviews{
        display: flex;
            align-items: center;
        flex-direction: column;
    }
}